<!-- FEATURES -->
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Experiences</h2>
  
          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2023</span>
              </div>
              <div class="timeline-info">
                <h3><span>Stage d'été</span><small>Xcomet Technology</small></h3>
                <p>developement web</p>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2023</span>
              </div>
              <div class="timeline-info">
                <h3><span>SajaAcademie</span><small>FrontEnd Developer</small></h3>
                <p>html,css,bootstrap,angular,js</p>
              </div>
            </div>
  
  
          </div>
        </div>
  
        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Educations</h2>
  
          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2021-2024</span>
              </div>
              <div class="timeline-info">
                <h3><span>University</span><small>National Degree in computer Science
                  <br><b>INSTITUE SUPERIEUR D'INFORAMTIQUE ET MULTIMEDIA GABES</b>
                </small></h3>
                  <p>The University was mainly focus on the bases of developement </p>
              </div>
            </div>
          </div>
          
          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2018-2021</span>
              </div>
              <div class="timeline-info">
                <h3><span>Higher Secondry</span><small><b>MEDNINE-IBN KHALDOUN HIGHER SECONDARY</b></small></h3>
                 <p>The high school was mainly focus on the bases of science, mathematics, and chemistry</p>
                 <p>Completed my high school with <b>Rate'AVERAGE'</b></p>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2015-2018</span>
              </div>
              <div class="timeline-info">
                <h3><span>Secondary School</span><small><b>HAY RAJA SECONDARY SCHOOL</b></small></h3>
                <P>The Secondary aims at maths,english,science,social science,litrature and language</P>
                <p>Completed my secondary school with <b>Rate'GOOD'</b></p>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </section>
  